extends ../layouts/master

block variables
  - var pageName = 'about'
  - var headerTheme = 'dark'

block content
  section.page-about__section-top
    +top

  section.page-about__section-features
    .container
      +features

  section.page-about__section-slider
    +slider

  section.page-about__section-bottom
    .container
      +card

mixin features
  .features
    .features__item
      .features__text
        |С 2000 по 2008 год работал в Администрации президента России
      img.features__image(src='assets/images/feature-1.svg')
    .features__item
      .features__text
        |Руководитель центра политической конъюнктуры
      img.features__image(src='assets/images/feature-2.png')
    .features__item
      .features__text
        |Профессор и преподаватель в НИУ ВШЭ
      img.features__image(src='assets/images/feature-3.svg')
    .features__item
      .features__text
        |Кандидат политических наук
      img.features__image(src='assets/images/feature-4.svg')

mixin card
  .card
    .card__text
      |На сайте я публикую аналитические разборы и статьи на последние актуальные политические события в стране. Анонсирую свои выступления на мероприятиях и пишу рецензии на художественную и профессиональную литературу.
    h3.card__title
      |читать мои публикации
    .card__list
      a.card__item(href='#')
        |политическая экспертиза
      a.card__item(href='#')
        |мероприятия
      a.card__item(href='#')
        |книжная критика
    .card__quote
      +quote-svg
    .card__logo
      +logo-circle-svg

mixin top
  .about-top
    .container
      img.about-top__photo(src='assets/images/chesnakov-photo-2.jpg')
      h1.about-top__title
        |Алексей чеснаков
      .about-top__bottom
        .about-top__left
          .about-top__text
            |Более 30 лет занимаюсь аналитикой политических процессов и событий. Являюсь одним из самых известных и цитируемых российских экспертов в сфере политики.
        .about-top__right
          .about-top__contacts
            h3.about-top__sub-title
              |контакты
            ul.about-top__list
              li.about-top__item
                a.about-top__link(href='#')
                  +vk-svg.about-top__link-svg.about-top__link-svg--vk
                  .about-top__link-text
                    |Вконтакте
              li.about-top__item
                a.about-top__link(href='#')
                  +fb-svg.about-top__link-svg.about-top__link-svg--fb
                  .about-top__link-text
                    |Facebook
              li.about-top__item
                a.about-top__link(href='#')
                  +tg-svg.about-top__link-svg.about-top__link-svg--tg
                  .about-top__link-text
                    |Telegram
            .about-top__email
              a.about-top__email-link(href=`mailto:${data.email}`)
                |#{data.email}

mixin slider
  .slider(data-slider)
    -
      var years = [
        1984,
        1985,
        1986,
        1987,
        1989,
        1990,
        1991,
        2012,
        2014,
        2016,
        2020,
        2021,
      ]
    .container
      .slider__top
        .slider__years(data-slider-years)
          .swiper-wrapper.slider__years-wrapper
            each year in [...years].reverse().slice(1).reverse()
              .swiper-slide.slider__years-slide(data-slider-year)
                .slider__year
                  .slider__year-text
                    |#{year}
            .swiper-slide.slider__years-slide(data-slider-year)
              .slider__year.slider__year--last
                .slider__year-text
                  |#{[...years].pop()}
      .slider__bottom
        .slider__slides(data-slider-slides)
          .swiper-wrapper.slider__slides-wrapper
            each year in years
              .swiper-slide.slider__slides-slide
                .slider__slide
                  .slider__photo
                    img.slider__img(src='assets/images/slider.jpg')
                  .slider__content
                    .slider__content-year
                      |#{year}
                    .slider__controls
                      .slider__control(data-slider-prev)
                        |#{'<'}
                      .slider__control(data-slider-next)
                        |#{'>'}
                    .slider__text
                      |Директор Центра политической конъюнктуры России (ЦПК). Руководитель Центра социальной и политической информации Института социально-политических исследований (ИСПИ) РАН.
