extends ../layouts/master

block variables
  - var pageName = 'about'
  - var headerTheme = 'dark'
  
block grid-test

block content
  section.page-about__section-top
    +top

  section.page-about__section-features
    .container
      +features

  section.page-about__section-slider
    +slider

  section.page-about__section-bottom
    .container
      +card

mixin features
  .features
    .features__item(data-aos='fade-up')
      .features__text
        |С 2000 по 2008 год работал в Администрации президента России
      img.features__image(src='assets/images/feature-1.svg')
    .features__item(data-aos='fade-up')
      .features__text
        |Руководитель центра политической конъюнктуры
      img.features__image(src='assets/images/feature-2.png')
    .features__item(data-aos='fade-up')
      .features__text
        |Профессор и преподаватель в НИУ ВШЭ
      img.features__image(src='assets/images/feature-3.svg')
    .features__item(data-aos='fade-up')
      .features__text
        |Кандидат политических наук
      img.features__image(src='assets/images/feature-4.svg')

mixin card
  .card(data-aos='fade-up')
    .card__text
      |На сайте я публикую аналитические разборы и статьи на последние актуальные политические события в стране. Анонсирую свои выступления на мероприятиях и пишу рецензии на художественную и профессиональную литературу.
    h3.card__title(data-aos='fade-up')
      |читать мои публикации
    .card__list(data-aos='fade-up')
      a.card__item(href='#')
        |политическая экспертиза
      a.card__item(href='#')
        |мероприятия
      a.card__item(href='#')
        |книжная критика
    .card__quote
      +quote-svg
    .card__logo
      +logo-circle-svg

mixin top
  .about-top
    .container
      .about-top__photo
        img(src='assets/images/chesnakov-photo-2.jpg')(data-aos='fade-up')
      h1.word.about-top__title-block
        .word__block
          each letter in 'Алексей'.split('')
            .word__letter.about-top__title= letter
          .word__letter.about-top__title &nbsp;
          each letter in 'чеснаков'.split('')
            .word__letter.about-top__title= letter
      .about-top__bottom(data-aos='fade-up')
        .about-top__left
          .about-top__text
            |Более 30 лет занимаюсь аналитикой политических процессов и событий. Являюсь одним из самых известных и цитируемых российских экспертов в сфере политики.
        .about-top__right
          .about-top__contacts
            h3.about-top__sub-title
              |контакты
            ul.about-top__list
              li.about-top__item
                a.about-top__link(href='#')
                  +vk-svg.about-top__link-svg.about-top__link-svg--vk
                  .about-top__link-text
                    |Вконтакте
              li.about-top__item
                a.about-top__link(href='#')
                  +fb-svg.about-top__link-svg.about-top__link-svg--fb
                  .about-top__link-text
                    |Facebook
              li.about-top__item
                a.about-top__link(href='#')
                  +tg-svg.about-top__link-svg.about-top__link-svg--tg
                  .about-top__link-text
                    |Telegram
            .about-top__email
              a.about-top__email-link(href=`mailto:${data.email}`)
                |#{data.email}

mixin slider
  .slider(data-slider)
    -
      var years = [
        1984,
        1985,
        1986,
        1987,
        1989,
        1990,
        1991,
        2012,
        2014,
        2016,
        2020,
        2021,
      ]
    .slider__top(data-aos='fade-up')
      .slider__years-wrapper
        .container
          ul.slider__years
            li.slider__years-item
              .slider__year.slider__year--active(data-slider-year)
                .slider__year-text
                  |#{[...years].shift()}
            each year in years.slice(1, years.length - 1)
              li.slider__years-item
                .slider__year(data-slider-year)
                  .slider__year-text
                    |#{year}
            li.slider__years-item
              .slider__year.slider__year--last(data-slider-year)
                .slider__year-text
                  |#{[...years].pop()}
    .container
      .slider__bottom
        .slider__photo(data-aos='fade-up')
          .slider__image
            .slider__image-item.slider__image-item--active
              img.slider__img(src="assets/images/slider.jpg" style=`opacity: ${Math.random()}`)
            each i, j in years.slice(1)
              .slider__image-item
                img.slider__img(src="assets/images/slider.jpg" style=`opacity: ${Math.random()}`)
        .slider__content(data-aos='fade-up')
          .slider__texts.slider__articles
            .slider__text.slider__text--active.slider__text--in
              .slider__article
                |Директор Центра политической конъюнктуры России (ЦПК). Руководитель Центра социальной и политической информации Института социально-политических исследований (ИСПИ) РАН.
            each i in years.slice(1)
              .slider__text
                .slider__article
                  |Директор Центра политической конъюнктуры России (ЦПК). Руководитель Центра социальной и политической информации Института социально-политических исследований (ИСПИ) РАН.
          .slider__texts.slider__dates
            .slider__text.slider__text--active.slider__text--in
              .slider__date
                |#{[...years].shift()}
            each year in years.slice(1)
              .slider__text
                .slider__date
                  |#{year}
          .slider__controls
            .slider__control.slider__control--prev(data-slider-prev)
              +control-arrow-small-svg.slider__arrow.slider__arrow--small
              +control-arrow-large-svg.slider__arrow.slider__arrow--large
            .slider__control.slider__control--next(data-slider-next)
              +control-arrow-small-svg.slider__arrow.slider__arrow--small
              +control-arrow-large-svg.slider__arrow.slider__arrow--large
