extends ../layouts/master

block variables
  - var pageName = 'publications-detail'
  - var headerTheme = 'dark'

block grid-test

block content
  .container
    .page.page-publications-detail__page
      .page__main.page-publications-detail__main
        .breadcrumbs(data-aos='fade-up')
          ul.breadcrumbs__list
            li.breadcrumbs__item
              a.breadcrumbs__link(href='#')
                +logo-icon-svg.breadcrumbs__logo
            li.breadcrumbs__item
              a.breadcrumbs__link(href='#')
                |Политическая экспертиза
            li.breadcrumbs__item
              a.breadcrumbs__link(href='#')
                |Колонки
            li.breadcrumbs__item
              .breadcrumbs__link
                |Риски для российской системы власти после пандемии коронавируса
        h1.page-publications-detail__title(data-aos='fade-up')
          |Риски для российской системы власти после пандемии коронавируса
        .table(data-aos='fade-up')
          .table__place
            .table__title
              |11.10.2021
          .table__place
            .table__title
              |категория
            .table__list
              .table__list-list
                a.table__list-item(href='#')
                  |Колонки
                a.table__list-item(href='#')
                  |Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis eaque alias quod, ipsam
                a.table__list-item(href='#')
                  |Колонки
                a.table__list-item(href='#')
                  |Колонки
                a.table__list-item(href='#')
                  |Колонки
          .table__place
            .table__title
              |рубрика
            .table__list
              .table__list-list
                a.table__list-item(href='#')
                  |Колонки
          .table__place
            .table__title
              |тема
            .table__list
              .table__list-list
                a.table__list-item(href='#')
                  |Колонки
                a.table__list-item(href='#')
                  |Интервью
        .content-wrapper
          .content(data-aos='fade-up')
            h2
              |После пандемии системе власти сложно будет выдержать следующий удар: природного катаклизма, крупной технологической аварии или рукотворной чрезвычайной ситуации.
            .content-container
              p
                |Пандемия и меры по минимизации её последствий не могли не вызвать дискуссии о будущих формах социально-политической жизни. Скоропалительные прогнозы редко оказываются правильными: слишком много ещё неизвестных, развилок и оговорок. Впрочем, если дело касается локальных проблем, невозможно позволить себе роскошь отложить обсуждение перспектив на потом, до наступления ясности. Потому что тогда, возможно, уже будет поздно. Целый ряд рисков для российской политики усугубится. Большинство из них накапливались давно. Пандемия влияет на качество и временные рамки предполагаемого обострения ситуации до экстремальной, усугубляет вытекающие осложнения и наше их восприятие. И самое важное – эти риски или уже требуют, или в скором времени потребуют реакции со стороны принимающих решения.
              h2
                |Внешний контекст
              blockquote
                |Риски электоральные. В среднесрочной перспективе увеличивается вероятность получения нежелательных для власти результатов на выборах в Государственную думу, а в краткосрочной – также в ряде регионов в единый день голосования.
              p
                |Начнём с группы внешних рисков. Назовём их геополитическими. Пандемия ускорила наступление новых политических, экономических и социальных порядков в мире (множественное число в данном случае точнее, поскольку целостный мировой порядок ещё до пандемии вступил в период фрагментации, которая теперь ускорилась). Генри Киссинджер, не мудрствуя, называет новый этап «посткоронавирусным» (комментарий в The Wall Street Journal). Правила игры окончательно изменятся, но новые не до конца ясны. Неизвестно, как скоро и в какой форме состоится их признание, если это вообще произойдёт. Очевидно, что повсеместно растёт потребность в том, чтобы застраховаться от политических катаклизмов. Но восстановлением привычных укладов и моделей поведения проблему не решить.
              p
                |Процесс будет болезненным. Вероятным представляется отказ от ряда прежних институтов и договорённостей (некоторые форматы отношений на территории бывшего СССР, взаимодействие в рамках ОБСЕ, соглашения ОПЕК+), изменение статуса конфликтов (обострение либо, наоборот, переход в замороженную фазу), в которые вовлечена Россия. Поспособствовать этому могут дальнейший кризис управляемости в государствах по периметру российских границ, существенное изменение характера интеграционных процессов в Европе, переход соперничества между мировыми лидерами – США и Китаем – на новый уровень.
              p
                |Другой баланс сил изменит нашу роль в мире и отношение к ней. В первую очередь с точки зрения воздействия международного контекста на внутрироссийскую повестку. Вынужденное сосредоточение ряда стран на внутренних проблемах поставит под вопрос результативность предлагаемых Россией направлений совместной работы для решения глобальных задач в отношении ядерной безопасности, борьбы с терроризмом, ситуации на Ближнем Востоке.
              h2
                |Проблемы политических циклов
              ul
                li
                  |Оценивая новый политический ландшафт мира в связи с пандемией, некоторые западные эксперты прогнозируют кризис популистских движений и инициатив;
                li
                  |Другие осторожно замечают, что позиции политиков-популистов в результате нового пика антиглобализма могут быть ослаблены;
                li
                  |Но при любом исходе кампаний этого года невозможно не предвидеть обострение партийной борьбы и появление в повестке ярко выраженных популистских программ;
                li
                  |Подведение итогов сентябрьского голосования неминуемо послужит сигналом к прямой атаке на ЕР со стороны всего оппозиционного фронта;
                li
                  |Системные оппозиционеры могут даже оказаться в авангарде. В таких обстоятельствах обостряется нервозность, а значит, увеличивается вероятность и цена электоральных ошибок.
              h2
                |Проблемы политических циклов
              p
                |Риски переходного периода. Согласование обновлённого текста Конституции создало у многих ощущение, что процесс трансфера власти прекращён надолго. Институт обеспечения преемственности власти не предложен и не легитимирован. Между тем политическая система станет по-настоящему устойчивой, когда этот институт продемонстрирует свою эффективность в результате неоднократного применения. Вопрос о том, останется ли действующий президент на своем посту и после 2024 г., не получил однозначного ответа – заявлена законодательная возможность, но не предопределено намерение ей воспользоваться. А это порождает слишком много условностей.
              p
                |Сохраняющаяся неясность со сроками завершения ревизии законодательства способна негативно повлиять на властную вертикаль. Годы уйдут только на то, чтобы адаптировать корпус действующих норм к изменённому Основному закону. Потребуется также имплементация в правовые акты резонансных инициатив, провозглашённых, но по тем или иным причинам не включённых президентом и рабочей группой в обновлённый текст Конституции и отложенных на какое-то время. Это сохраняет необходимое пространство для манёвра власти, но вызывает в общественном мнении сомнения относительно продуманности её намерений. Неопределённость по поводу ряда решений стратегического характера чревата возникновением опасного вакуума в экстремальных ситуациях, когда правила игры должны быть максимально понятны, а действия игроков прогнозируемы.
              p
                |Риски электоральные. В среднесрочной перспективе увеличивается вероятность получения нежелательных для власти результатов на выборах в Государственную думу (сентябрь 2021 г.), а в краткосрочной – также в ряде регионов в единый день голосования (13 сентября 2020 г.).
          .back(data-aos='fade-up')
            a.back__link(href='#')
              .back__icon
                +pagination-next-svg.back__svg
                +pagination-next--large-svg.back__svg.back__svg--desktop
              .back__text
                |вернуться
        .content-wrapper.content-wrapper--desktop
          .page-publications-detail__themes(data-aos='fade-up')
            h3.themes__title
              |темы
            .tags.tags--themes
              ul.tags__list
                li.tags__item
                  .tag
                    .tag__button= data.themes[0]
                each theme in data.themes.slice(1)
                  li.tags__item
                    .tag
                      .tag__button= theme
          .page-publications-detail__socials(data-aos='fade-up')
            .socials.socials--publications-detail
              h3.socials__title
                |поделиться
              .socials__row
                a.socials__item(href='#')
                  +vk-svg.socials__vk
                  .socials__text
                    |Вконтакте
                a.socials__item(href='#')
                  +tg-svg.socials__tg
                  .socials__text
                    |Telegram
                a.socials__item(href='#')
                  +tw-svg.socials__tg
                  .socials__text
                    |Twitter
          .page-publications-detail__themes(data-aos='fade-up')
            h3.themes__title
              |темы, которые могут быть вам интересны
            .tags.tags--themes
              ul.tags__list
                li.tags__item
                  .tag
                    .tag__button= data.themes[0]
                each theme in data.themes.slice(1)
                  li.tags__item
                    .tag
                      .tag__button= theme
      .page__aside.page-publications-detail__aside
        .page__aside-content
          .aside
            .aside__banner(data-aos='fade-up')
              a.banner.banner--main(href='#')
                h3.banner__title
                  span.banner__text
                    |Подпишитесь 
                  spann.banner__text
                    |на мой блог
                +logo-banner-svg.banner__logo
            .aside__form(data-aos='fade-up')
              form.fform(data-url='url' data-success-status='mail_sent' data-success-action='subscribe-success' data-form-test)
                fieldset.fform__top.fform__checkboxes.checkboxes
                  - var items = ['Политическая экспертиза', 'Мероприятия', 'Книжная критика']
                  each item, index in items
                    .checkboxes__item
                      label.form__checkbox
                        input.form__checkbox-input(type='checkbox' name=`subscribe-${index + 1}` value=item)
                        .form__checkbox-block
                          .form__mark.form__checkbox-mark
                            +check-mark-svg
                          .form__checkbox-text= item
                .fform__bottom
                  .modal__field.fform__email
                    input.modal__input.fform__input(type='email' required placeholder='e-mail' name='email')
                    .modal__error
                      |Поле заполнено неверно
                  label.fform__agreement.modal__check
                    input.modal__check-input(type='checkbox' required name='agreement')
                    .modal__check-mark
                      +check-mark-svg.modal__check-svg
                    .modal__check-text.fform__agreement-text
                      |Согласен на обработку персональных данных в соответствии c 
                      a.modal__check-link(href='#')
                        |политикой конфиденциальности
                  .fform__submit.button
                    button.button__button.modal__button(type='submit' data-modal-response)
                      |подписаться
            .aside__socials(data-aos='fade-up')
              .socials.socials--2
                h3.socials__title
                  |я в социальных сетях
                .socials__row
                  a.socials__item(href='#')
                    +vk-svg.socials__vk
                    .socials__text
                      |Вконтакте
                  a.socials__item(href='#')
                    +tg-svg.socials__tg
                    .socials__text
                      |Telegram
