extends ../layouts/master

block variables
  - var pageName = 'template'
  - var headerTheme = 'dark'

block grid-test

block content
  .container
    .ppage
      .ppage__main
        .ppage__main-container
          .page-template__main
            .breadcrumbs(data-aos='fade-up')
              ul.breadcrumbs__list
                li.breadcrumbs__item
                  a.breadcrumbs__link(href='#')
                    +logo-icon-svg.breadcrumbs__logo
                li.breadcrumbs__item
                  a.breadcrumbs__link(href='#')
                    |Политическая экспертиза
                li.breadcrumbs__item
                  a.breadcrumbs__link(href='#')
                    |Колонки
                li.breadcrumbs__item
                  .breadcrumbs__link
                    |Риски для российской системы власти после пандемии коронавируса
            h3.page-template__themes-title(data-aos='fade-up')
              |темы
            .tags.tags--themes(data-aos='fade-up')
              ul.tags__list
                li.tags__item
                  .tag
                    .tag__button.tag__button--active= data.themes[0]
                each theme in data.themes.slice(1)
                  li.tags__item
                    .tag
                      .tag__button= theme
            h1.page-template__theme-title(data-aos='fade-up')
              |ГОСДУМА
            a.top-card(href='#')(data-aos='fade-up')
              .top-card__image-block
                img.top-card__image(src="assets/images/card-photo.jpg")
              .news-item.news-item--top-card
                .tags.tags--pins
                  ul.tags__list
                    li.tags__item
                      .pin
                        .pin__button(href='#')
                          |колонка
                h4.news-item__title
                  |Успех «списка Собянина» на выборах
                p.news-item__date
                  |11.10.2021
            .page-template__list.news-list(data-aos='fade-up')
              a.news-item.news-item--news-list(href='#')
                .pin
                  .pin__button(href='#')
                    |Колонка
                h4.news-item__title
                  |Успех «списка Собянина» на выборах
                p.news-item__date
                  |11.10.2021
              a.news-item.news-item--news-list(href='#')
                .pin
                  .pin__button(href='#')
                    |экспертные комментарии
                h4.news-item__title
                  |Снижение числа голосующих на дому москвичей в сравнении с 2020 годом
                p.news-item__date
                  |11.10.2021
              a.news-item.news-item--news-list(href='#')
                .pin
                  .pin__button(href='#')
                    |Колонка
                h4.news-item__title
                  |Голосование «ногами» становится архаичным, но понять это сейчас могут далеко не все
                p.news-item__date
                  |11.10.2021
              a.news-item.news-item--news-list(href='#')
                .pin
                  .pin__button(href='#')
                    |экспертные комментарии
                h4.news-item__title
                  |Ключевой темой думских выборов остается борьба с коронавирусом
                p.news-item__date
                  |11.10.2021
              a.news-item.news-item--news-list(href='#')
                .pin
                  .pin__button(href='#')
                    |Колонка
                h4.news-item__title
                  |Гадкие утята
                p.news-item__date
                  |11.10.2021
              a.news-item.news-item--news-list(href='#')
                .pin
                  .pin__button(href='#')
                    |экспертные комментарии
                h4.news-item__title
                  |Объясняем успех «списка Собянина» на выборах в Москве
                p.news-item__date
                  |11.10.2021
            .page-template__pagination.pagination(data-aos='fade-up')
              a.pagination__next.pagination__next--back(href='#')
                +pagination-next-svg.pagination__next-svg.pagination__next-svg--default
                +pagination-next--large-svg.pagination__next-svg.pagination__next-svg--large
              .pagination__pages
                .pagination__left
                  .pagination__left-item.pagination__page-wrapper
                    a.pagination__page.pagination__page--active(href="#")
                      |1
                  .pagination__left-item.pagination__page-wrapper
                    a.pagination__page(href="#")
                      |2
                  .pagination__left-item.pagination__page-wrapper
                    a.pagination__page(href="#")
                      |3
                .pagination__between
                  |...
                .pagination__right
                  a.pagination__page(href="#")
                    |12
      .ppage__aside.page-template__aside
        .ppage__aside-container.page-template__aside-container
          .aside
            .aside__banner(data-aos='fade-up')
              a.banner.banner--main(href='#')
                h3.banner__title
                  span.banner__text
                    |Подпишитесь 
                  spann.banner__text
                    |на мой блог
                .banner__pin
                  |@
                +logo-banner-svg.banner__logo
            .aside__form(data-aos='fade-up')
              form.fform(data-url='url' data-success-status='mail_sent' data-success-action='subscribe-success' data-form-test)
                fieldset.fform__top.fform__checkboxes.checkboxes
                  - var items = ['Политическая экспертиза', 'Мероприятия', 'Книжная критика']
                  each item, index in items
                    .checkboxes__item
                      label.form__checkbox
                        input.form__checkbox-input(type='checkbox' name=`subscribe-${index + 1}` value=item)
                        .form__checkbox-block
                          .form__mark.form__checkbox-mark
                            +check-mark-svg
                          .form__checkbox-text= item
                .fform__bottom
                  .modal__field.fform__email
                    input.modal__input.fform__input(type='email' required placeholder='e-mail' name='email')
                    .modal__error
                      |Поле заполнено неверно
                  label.fform__agreement.modal__check
                    input.modal__check-input(type='checkbox' required name='agreement')
                    .modal__check-mark
                      +check-mark-svg.modal__check-svg
                    .modal__check-text.fform__agreement-text
                      |Согласен на обработку персональных данных в соответствии c 
                      a.modal__check-link(href='#')
                        |политикой конфиденциальности
                  .fform__submit.button
                    button.button__button.modal__button(type='submit' data-modal-response)
                      |подписаться
            .aside__socials(data-aos='fade-up')
              .socials.socials--2
                h3
                  |я в социальных сетях
                .socials__row
                  a.socials__item(href='#')
                    +vk-svg.socials__vk
                    .socials__text
                      |Вконтакте
                  a.socials__item(href='#')
                    +tg-svg.socials__tg
                    .socials__text
                      |Telegram
    